* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
}

.scroll-dude-container {
    position: absolute;
    right: 0;
    top: 45%;
    transform: translateY(-45%);    
}
.message {    
    color: red;  
    transform: translate(100%, 100%); 
}
#scroll-dude {
    position: absolute;
    right: 0;
    width: 30px;
}
.scroll-dude-container:hover .message{
    transition: .3s cubic-bezier(0.61, 1, 0.88, 1);
    transform: rotate(-30deg) translate(-10%, -25%); 
}